body {
  margin: 0;
  background-image: url("/images/table.jpg");
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

h1 {
  color: goldenrod;
  font-size: 65px;
  text-shadow: 5px 5px 5px black;
}

#message-el {
  padding: 25px;
  font-style: italic;
  font-size: 25px;
}

button {
  color: #016f32;
  font-size: 30px;
  font-weight: bold;
  width: 350px;
  background-color: goldenrod;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 5px;
}
