body {
    background-color:black;
    color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#controls button {
    background-color: greenyellow;
    font-size: 2rem;
    border-radius:10px;
}

.stopwatch {
    font-size: 15em;
    font-family: monospace;

}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 10px, 0;
}
