body {
  margin: 0 auto;
  background-image: url("./images/pic03.jpg");
  background-size: cover;
  background-position: top;
  text-align: center;
  color: #ffffff;
  font-family: "Architects Daughter", cursive;
  font-family: "Patrick Hand", cursive;
}

h1 {
  background-image: url("./images/ply4.jpg");
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  min-width: 320px;
  box-shadow: 5px 5px 5px black;
}

h2 {
  margin-bottom: 40px;
  border-bottom: 1px solid whitesmoke;
}

p {
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
  background-image: url("./images/ply.jpg");
  padding: 10px;
  margin-left: 350px;
  margin-right: 350px;
  box-shadow: 10px 5px 10px black;
}

.card-1 {
  background-image: url("./images/ply6.jpg");
  max-width: 25em;
  padding: 40px;
  margin: 40px;
  box-shadow: 10px 5px 5px black;
  font-size: 20px;
}

.card-2 {
  background-image: url("./images/ply6.jpg");
  max-width: 25em;
  padding: 40px;
  margin: 40px;
  box-shadow: 10px 5px 5px black;
  font-size: 20px;
}

.card-3 {
  background-image: url("./images/ply6.jpg");
  max-width: 25em;
  padding: 40px;
  margin: 40px;
  box-shadow: 10px 5px 5px black;
  font-size: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  background-image: url("./images/ply6.jpg");
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.form-1 {
  background-image: url("./images/ply4.jpg");
  padding: 10px;
  margin: 20px;
}
.form-2 {
  background-image: url("./images/ply4.jpg");
  padding: 10px;
  margin: 20px;
}
